@font-face {
	font-family: heading;
	src: url(Over\ There.ttf);
  }
  @font-face {
	font-family: paragraph;
	src: url(SemplicitaPro.otf);
  }
  .roadmaptext{
    font-family: heading;
    text-align: center;
    font-size: 30px;


  }
  .gallerytext{
    font-family: heading;
    text-align: center;
    font-size: 30px;
    margin-top: 150px;
    

  }


#Own{
padding: 16px;
margin-right: 50px;
margin-top: 20px;
background-color: #e6e6ee;
margin-left: 30px;
box-shadow: 5px 10px;

}
.welcome{
  font-family: heading;
  font-size: 13px;
}

#Own h4{
  font-family: heading;
  font-size: 15px;
}
#explore{
  padding: 16px;
  margin-top: 20px;
  margin-right: 30px;
background-color: #e6e6ee;
box-shadow: 5px 10px;

  
}
#explore h4{
  font-family: heading;
  font-size: 15px;
}

  #logotitle{
    height: 30px;
    width: 280px;
  }
  #navbartext{
    font-family: heading;
    font-size: 10px;
  }
.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
  width: 100% !important;
	left: 0;
	z-index: 20;
	
	background-image: url(assets/images/nav.png);
}
.nav-link:hover{
font-size: 22px;
}
.nav-item{
	padding: 15px !important;
	font-size: 18px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#banner{
    margin-top: 90px;
    height:700px;
    width:100%; 
}

#bannertext{
    text-align: center;
}

.logo{
    height: 50px;
    width: 50px;
}
#aboutbg{
	background:#fff;
	width:1000px;
	height: 400px;
	padding:40px;
	margin-top: 100px;
  border: 2px solid #000000;
  border-radius: 20px !important;
  box-shadow: 0px 6px 0px 0px black;

}
#aboutbgsubway{
	background:#fff;
	width:1300px;
	height: 600px;
	padding:40px;
	margin-top: 60px;
  border: 2px solid #000000;
  border-radius: 20px !important;
  box-shadow: 0px 6px 0px 0px black;

}
#skatepark{
  height: 200px;
  width:350px;
  margin-left: 40px;
  margin-top: 30px;
}

.gif{
	height: 270px;
	width: 460px;
}
.flex-container {
	display: flex;
	flex-direction: row;
	font-size: 16px;
	text-align: center;
	width: 900px;

  }
  
  .flex-item-left {
	flex: 50%;
  }
  
  .flex-item-right {
	flex: 50%;
  }
  #mypara{
	font-family: futura;
	font-size: 20px;
	margin-top: 0px;
	color: black;
}
#carousel{
    margin-top: 200px;
}
.roadmap{
    background-color: #F0F0F0	;
    margin-top: 130px;
    padding: 30px;
}
.flex-container-roadmap {
    display: none
  }
  .accordion {
    background-color: #fff;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 6px 0px 0px black;


  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #000000;
    color:#fff;
    
    box-shadow: 0px 0px 0px 0px black;

  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: #fff;
    display: none;
    overflow: hidden;
  }
  .faq{
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 40px;
  }
  #title{
    font-size: 45px;
    margin-top: 100px;
    color:black;
}
#title3{
    font-size: 15px;
    color:#fff;
}
.page-footer {
	position: relative;
	display: block;
	padding-top: 40px;
	padding-bottom: 1px;
	background-repeat: repeat;
	background-size: 100% 100%;
    background-color: #000000;
    margin-top: 150px;
    
    box-shadow: 6px 6px 16px 16px #A4A5B1;

  }
  
  .page-footer p a {
	color: #35bb78;
	transition: color 0.2s ease;
  }
  
  .page-footer p a:hover {
	color: #40d48a;
  }
  
  .page-footer h3,
  .page-footer h4,
  .page-footer h5 {
	color: #000000;
	margin-bottom: 24px;
	margin-left: 20px;
  }
  
  .page-footer p {
	color: #898798;
  }
  
  .footer-menu {
	position: relative;
	padding-left: 0;
	list-style: none;
	margin-left: 30px;
  }
  
  .footer-menu li {
	margin-bottom: 12px;
  }
  
  .footer-link {
	display: inline-block;
	padding: 6px 0;
  }
  
  .footer-menu a,
  .footer-link {
	color: #000000;
  }
  
  .footer-menu a:hover,
  .footer-link:hover {
	color: #000000;
	text-decoration: none;
  }
  .footerheadings{
	  font-family: heading;
    font-size: 10px;
    color: white;
  }
  
  #myrow{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  
  }
  #titlesubwaycity{
    font-size: 20px;
    font-family: heading;
  }
  #subwaypara{
    font-size: 18px;
    font-family: paragraph;
  }
  #subwayparaown{
    font-size: 15px;
    font-family: paragraph;
  }
  #phasetext{
    font-family: heading;
    font-size: 17px;
  }
  .nftcalendarimg{
    width: 100px;
    height: 100px;
  }

  @media screen and (max-width: 600px) {
    .footerheadings{
      font-family: heading;
      font-size: 8px;
      color: white;
    }
    .nftcalendarimg{
      width: 100px;
      height: 100px;
    }
  
    .phasepoints{
      align-items: left;
    }
    #phasetext{
      font-family: heading;
    }
  
    .roadmaptext{
      font-family: heading;
      text-align: center;
      font-size: 15px;
  
    }
    .gallerytext{
      font-family: heading;
      text-align: center;
      font-size: 15px;
      margin-top: 80px;
      
  
    }
    .welcome{
      font-family: heading;
      font-size: 6px;

    }
    
  #subwaypara{
    font-size: 12px;
    font-family: paragraph;

  }
  #subwayparaown{
    font-size: 10px;
    font-family: paragraph;
    
  }
    #Own{
      padding: 16px;
      margin-right: 10px;
      margin-top: 20px;
      background-color: #e6e6ee;
      margin-left: 10px;
      box-shadow: 5px 10px;
      
      }
      #Own h4{
        font-family: heading;
        font-size: 12px;
      }
      #Own h6{
        font-size: 10px;
      }
      #explore{
        padding: 16px;
        margin-top: 20px;
        margin-right: 10px;
      background-color: #e6e6ee;
      box-shadow: 5px 10px;
      margin-left: 10px;

      
        
      }
      #explore h4{
        font-family: heading;
        font-size: 12px;
      }
      #explore h6{
        font-size: 10px;
      }

      
    #logotitle{
      height: 20px;
      width: 160px;
        }
        #navbartext{
          font-family: heading;
          font-size: 7px;
        }
    #titlesubwaycity{
      font-size: 8px;
      font-family: heading;
      padding:10px;

    }
    #subwaypara{
      font-size: 13px;
    }
    #myrow{
      display: flex;
      flex-direction: column;
      margin-top: 10px;
    }
    .accordion {
        background-color: #fff;
        color: #000000;
        cursor: pointer;
        padding: 10px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 0px 6px 0px 0px black;
    
    
      }
      
      /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
      
      
      /* Style the accordion panel. Note: hidden by default */
      .panel {
        padding: 0 18px;
        background-color: #fff;
        display: none;
        overflow: hidden;
      }
      .faq{
          margin-left: 5%;
          margin-right: 5%;
          margin-top: 40px;
      }
      
      
    
    html,body{
        margin: 0 auto;
        height: 900px;
        overflow-x: hidden;
     
    }
    .roadmap{
        display: none;
    }
    .flex-container-roadmap {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        background-color: #F0F0F0;
        padding: 24px;
        margin-top: 100px;
      }
      
    #aboutbg{
		background:#fff;
		width:270px;
		height: 450px;
		padding:4px;
		margin-top: 45px;
		margin-left: 7px;
		margin-right: 10px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0px 6px 0px 0px black;

	}
  #aboutbgsubway{
		background:#fff;
		width:300px;
		height: 980px;
		padding:5px;
		margin-top: 50px;
		margin-left: 7px;
		margin-right: 10px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0px 6px 0px 0px black;

	}
  #skatepark{
    height: 100px;
    width:250px;
    margin-left: 5px;
    margin-top: 20px;
  }
	.gif{
		height: 150px;
		width: 220px;
		margin-top: 20px;
		margin-left: 0px;
	}
    .flex-container {
		display: flex;
	  flex-direction: column;
	  width: 580px !important;

	}
    #mypara{
		font-family: futura;
		font-size: 9px;
		margin-top: 10px;
		color: black;

	}
	  
	  .flex-item-left {
		height: 220px;
		width: 260px;
	  }
	  
	  .flex-item-right {
		width: 250px;
		height: 200px;
		
	  }
      #banner{
        margin-top: 55px;
        height: 200px;
        width: 100%;
        
    }
    
    #title{
        font-size: 30px;
        margin-top: 10px;
    }
    #title3{
        font-size: 15px;
    }
   .navbar-wrapper{
       width: 100px !important;
       margin-left: 5px !important;
       background-color: blue !important;
   } 
   
    
  
  }
    /* Responsive layout - makes a one column-layout instead of two-column layout */
    *,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
}
.roadmap{
    background-color: #F0F0F0	;
    margin-top: 90px;
    padding: 30px;
}
#carousel{
    margin-top: 10px;
}
.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
  margin-top: 50px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background: #A4A5B1;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 10%;
}

.container.left {
  right:50%;
}

.container.right {
  left: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #A4A5B1;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #A4A5B1;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #A4A5B1;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -75px;
}

.container.right .date {
  left: -75px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 130px;
  height: 120px;
  padding: 5px 0;
  top: calc(30% - 5px);
  background: #F1F3F4;
  border: 2px solid #A4A5B1;
  border-radius: 20px;
  box-shadow: 0px 6px 0px 0px black;
  text-align: center;
  font-size: 62px;
  color: black;
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.lefty1 .icon {
  top: 96px;
}

.container.lefty2 .icon {
  top: 140px;
}

.container.righty1 .icon {
  top: 130px;
}
.container.righty2 .icon {
  top: 35px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  position: relative; 
}

.container.right .content {
  padding: 10px 10px 10px 10px;
 width:400px;
 left:15%;
 top:10%;
}

.container.left .content {
    padding: 10px 10px 10px 10px;
    width:400px;
    right:0px;
    left:47%;
  }

  
.container .content h1 {
  margin: 0 0 10px 0;
  font-size: 16px;
  color: black;
 
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
#faqtext{
  font-family: heading;
  font-size: 30px;
}
#points{
  font-family: paragraph;
}
@media (max-width: 767.98px) {
  
#points{
  font-family: paragraph;
}
  #faqtext{
    font-family: heading;
    font-size: 15px;
  }
  .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after, 
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #A4A5B1 transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}


